<div id="bodyContent" class="content">
	<div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr">
		<div id="bodyContent">
			<div></div>
			<div class="mw-heading mw-heading2">
				<h2 id="firsth2">Heading</h2>
				<span class="mw-editsection">...</span>
			</div>
			<div>
				<p>first paragraph</p>
				<p>second paragraph</p>
				<p>third paragraph</p>
			</div>
			<h2>Heading</h2>
			<div>
				<p>first paragraph</p>
				<p>second paragraph</p>
				<p>third paragraph</p>
			</div>
		</div>
</div>