<div id="bodyContent">
	<div id="mw-content-text">
		<div id="toc" class="toc">
			<div id="toctitle">
				<h2>Contents</h2>
			</div>
			<ul>
				<li class="toclevel-1 tocsection-1">
					<a href="#A"><span class="tocnumber">1</span> <span class="toctext">A</span></a>
				</li>
			</ul>
		</div>
		<h2>Heading</h2>
		<p>first paragraph</p>
		<p>second paragraph</p>
		<p>third paragraph</p>
		<h2>Heading</h2>
		<p>first paragraph</p>
		<p>second paragraph</p>
		<p>third paragraph</p>
	</div>
</div>
