@import "mediawiki.ui/variables";
@import "../variables";

.ext-quick-survey-panel,
.ext-qs-loader-bar {
	width: auto;
	background-color: @colorGrayLightest;
}

/* FIXME: Should be an ajax loader to give impression something is happening */
.ext-qs-loader-bar {
	display: block;
	height: 100px;
	margin-left: 1.4em;
	clear: right;
	float: right;
	background-color: @colorGrayLightest;
	&.mw-ajax-loader {
		// FIXME: Why is this not the default? Override it.
		top: 0;
	}
}

@media all and (min-width: 768px) {
	.ext-qs-loader-bar,
	.ext-quick-survey-panel {
		margin-left: 1.4em;
		width: @panelWidth;
		clear: right;
		float: right;
	}
}
