@import 'mediawiki.ui/variables';
@import 'mediawiki.mixins';

// Variables
// =========

@panelWidth: 300px;

// Styles
// ======

.ext-quick-survey-panel,
.ext-qs-loader-bar {
	width: auto;
	background-color: @colorGray14;
}

/* FIXME: Should be an ajax loader to give impression something is happening */
.ext-qs-loader-bar {
	display: block;
	height: 100px;
	margin-left: 1.4em;
	clear: right;
	float: right;
	background-color: @colorGray14;

	&.mw-ajax-loader {
		// FIXME: Why is this not the default? Override it.
		top: 0;
	}
}

@media all and ( min-width: @width-breakpoint-tablet ) {
	.ext-qs-loader-bar,
	.ext-quick-survey-panel {
		margin-left: 1.4em;
		width: @panelWidth;
		clear: right;
		float: right;
	}
}

.panel .survey-footer {
	font-size: 0.8em;
	margin-top: 0.5em;
}

.survey-button-container {
	// FIXME: See https://phabricator.wikimedia.org/T112982
	.oo-ui-buttonSelectWidget {
		width: 100%;

		.oo-ui-buttonOptionWidget {
			display: block;
			margin-left: 0;

			a {
				margin: 0;
				width: 100%;
				.box-sizing( border-box );
				border-bottom: 0;
			}

			&:last-child {
				border-bottom: 1px solid @colorGray12;
			}
		}
	}
}

.ext-quick-survey-panel {
	.image {
		background-position: center 80%;
		background-repeat: no-repeat;
		background-size: auto 5em;
	}
}
