@import "mediawiki.ui/variables";

/* FIXME: Should be an ajax loader to give impression something is happening */
.ext-qs-loader-bar {
	display: block;
	height: 100px;
	background-color: @colorGrayLightest;
	&.mw-ajax-loader {
		// FIXME: Why is this not the default? Override it.
		top: 0;
	}
}
