@import 'mediawiki.ui/variables';
@import 'mediawiki.mixins';
@import '../variables';

.panel .survey-footer {
	font-size: 0.8em;
	margin-top: 0.5em;
}

.survey-button-container {
	// FIXME: See https://phabricator.wikimedia.org/T112982
	.oo-ui-buttonSelectWidget {
		width: 100%;

		.oo-ui-buttonOptionWidget {
			display: block;
			margin-left: 0;

			a {
				margin: 0;
				width: 100%;
				.box-sizing( border-box );
				border-bottom: 0;
			}

			&:last-child {
				border-bottom: 1px solid @colorGray12;
			}
		}
	}
}

.ext-quick-survey-panel {
	.image {
		background-position: center 80%;
		background-repeat: no-repeat;
		background-size: auto 5em;
	}
}
